<footer class="main-footer">
  <span>
    <strong>Copyright</strong> &copy; <%= Time.now.year %> Bole St. Michael Sabbath School. All rights reserved.
  </span>
  <span class="float-sm-right">    
    <strong>Version</strong> <%= Rails.configuration.version %>
  </span>
</footer>