<div>
    <div>
        <h1>በስመ አብ ወወልድ ወመንፈስ ቅዱስ አሐዱ አምላክ አሜን</h1>
        <h2 style="text-align: center;">IN THE NAME OF THE FATHER, OF THE SON, OF THE HOLY SPIRIT ONE GOD, AMEN.</h2>
    </div>
</div>